.Pokedex {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.poked__img {
    width: 70%;
}

.pokedex__img {
    width: 100%;
}

.pokedex__subtitle {
    padding-top: 1rem;
    color: var(--color-red);
}



/* ---- Media Queries ---- */


@media (min-width: 500px) {
    .poked__img {
        width: 60%;
    }
}

@media (min-width: 580px) {
    .poked__img {
        width: 55%;
    }
}

@media (min-width: 650px) {
    .poked__img {
        width: 50%;
    }
}

@media (min-width: 750px) {
    .poked__img {
        width: 45%;
    }
}

@media (min-width: 850px) {
    .poked__img {
        width: 40%;
    }
}

@media (min-width: 950px) {
    .poked__img {
        width: 35%;
    }
}

@media (min-width: 1050px) {
    .poked__img {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .poked__img {
        width: 25%;
    }
}