.Pokedex {
    min-height: 100vh;
}
.Pokedex__in {
    min-height: 100vh;
    padding-bottom: 110px;
}

.header__pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pokede__img {
    height: 40px;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 10;
    position: absolute;
}

.poked__img img{
    width: 100%;
    height: 100%;
}

.Search {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 
.card__contain {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.p__header {
    text-align: center;
    padding: 10px 10%;
}

.span__header {
    color: var(--color-red);
    font-weight: bold;
    font-size: 18px;
}

.header__red {
    background-color: #d52424;
    width: 100%;
    height: 80px;
    position: relative;
    
}

.header__black {
    background: #222;
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
}

.header__circle {
    width: 50px;
    aspect-ratio: 1;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    top: 40px;
    right: 20px;
}

.header__circle-int {
    width: 40px;
    aspect-ratio: 1;
    position: absolute;
    background-color: #222;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 5px);
    border: 6px solid white;
}

.pokedex__main {
    padding: 0 5%;
}


/* ---- Media Queries ---- */

@media (min-width: 700px) {
    .header__circle {
        right: 30px;
    }

    .pokede__img {
        margin-left: 30px;
    }
}

@media (min-width: 1000px) {
    .header__circle {
        right: 40px;
    }

    .pokede__img {
        margin-left: 40px;
    }
}

@media (min-width: 1200px) {
    .header__circle {
        right: 50px;
    }

    .pokede__img {
        margin-left: 50px;
    }
}


/* ---- Borders Color ---- */

.border-grass {
    border-color: #c3dea3;
}

.border-fire {
    border-color: #E75C35;
}

.border-water {
    border-color: #83B9FF;
}

.border-bug {
    border-color: #75dc74;
}

.border-normal {
    border-color: #735259;
}

.border-fighting {
    border-color: #96402A;
}

.border-poison {
    border-color: #C48EF9;
}

.border-ghost {
    border-color: #5A61DD;
}

.border-rock {
    border-color: #B9B9BA;
}

.border-dark {
    border-color: #4F4F4F;
}

.border-ice {
    border-color: #C4EBFB;
}

.border-steel {
    border-color: #9BB7AD;
}

.border-dragon {
    border-color: #8DD6E0;
}

.border-fairy {
    border-color: #C5597E;
}

.border-electric {
    border-color: #8E94FE;
}

.border-ground {
    border-color: #9C6614;
}

.border-psychic {
    border-color: #F806CC;
}


/* ---- Background Color ---- */

.bg-grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.bg-fire {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.bg-water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.bg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.bg-normal {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.bg-fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.bg-poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.bg-ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.bg-rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.bg-dark {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.bg-ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.bg-steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.bg-dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.bg-fairy {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}

.bg-electric {
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}

.bg-ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.bg-psychic {
    background: linear-gradient(179.75deg, #570A57 -19.96%, #A91079 43.67%, #F806CC 138.4%);
}


/* ---- Letter Color ---- */

.letter-grass {
    color: #416460;
}

.letter-fire {
    color: #E75C35;
}

.letter-water {
    color: #1479FB;
}

.letter-bug {
    color: #4AB648;
}

.letter-normal {
    color: #4AB648;
}

.letter-fighting {
    color: #96402A;
}

.letter-poison {
    color: #5B3184;
}

.letter-ghost {
    color: #323569;
}

.letter-rock {
    color: #7E7E7E;
}

.letter-dark {
    color: #030706;
}

.letter-ice {
    color: #6FBEDF;
}

.letter-steel {
    color: #5E736C;
}

.letter-dragon {
    color: #478A93;
}

.letter-fairy {
    color: #971B45;
}

.letter-electric {
    color: #0C1395;
}

.letter-ground {
    color: #654008;
}

.letter-psychic {
    color: #A91079;
}